.card {
  padding: 2rem;
  border-radius: 1vw;
  width: 25vw;
  height: 65vh;
  border: solid white;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: whites;
  user-select: none;            /* dont highligth text */
}

.cardBio {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: white;
}

.card h1, .card h3, .card h4, .card p {
  color: white;
}

.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}